POSTGRES_URL="postgres://querysheriff_backend:querysheriff_backend@localhost:5432/querysheriff?sslmode=disable"
CLICKHOUSE_URL="clickhouse://querysheriff_backend:querysheriff_backend@localhost:9000/querysheriff"
LISTEN_ADDR="localhost:3000"
CORS_ALLOWED_ORIGINS="http://localhost:3001"
COOKIE_SECURE="false"
DASHBOARD_URL="http://localhost:3001"
